:root {
    --black-08: rgba(20, 20, 20, 1);
    --absolutewhite: rgba(255, 255, 255, 1);
    --grey-60: rgba(153, 153, 153, 1);
    --black-06: rgba(15, 15, 15, 1);
    --green-300: rgba(190, 249, 112, 1);
    --PC-h0-font-family: 'Manrope', Helvetica;
    --PC-h0-font-weight: 700;
    --PC-h0-font-size: 58px;
    --PC-h0-letter-spacing: 0px;
    --PC-h0-line-height: 150%;
    --PC-h0-font-style: normal;
    --PC-h1-font-family: 'Manrope', Helvetica;
    --PC-h1-font-weight: 700;
    --PC-h1-font-size: 44px;
    --PC-h1-letter-spacing: 0px;
    --PC-h1-line-height: 129.99999523162842%;
    --PC-h1-font-style: normal;
    --PC-h2-font-family: 'Manrope', Helvetica;
    --PC-h2-font-weight: 700;
    --PC-h2-font-size: 36px;
    --PC-h2-letter-spacing: 0px;
    --PC-h2-line-height: 129.99999523162842%;
    --PC-h2-font-style: normal;
    --PC-h3-font-family: 'Manrope', Helvetica;
    --PC-h3-font-weight: 700;
    --PC-h3-font-size: 30px;
    --PC-h3-letter-spacing: 0px;
    --PC-h3-line-height: 148.00000190734863%;
    --PC-h3-font-style: normal;
    --PC-h4-font-family: 'Manrope', Helvetica;
    --PC-h4-font-weight: 700;
    --PC-h4-font-size: 16px;
    --PC-h4-letter-spacing: 0px;
    --PC-h4-line-height: 148.00000190734863%;
    --PC-h4-font-style: normal;
    --PC-h5-font-family: 'Manrope', Helvetica;
    --PC-h5-font-weight: 700;
    --PC-h5-font-size: 14px;
    --PC-h5-letter-spacing: 0px;
    --PC-h5-line-height: normal;
    --PC-h5-font-style: normal;
    --PC-subtitle1-font-family: 'Manrope', Helvetica;
    --PC-subtitle1-font-weight: 700;
    --PC-subtitle1-font-size: 26px;
    --PC-subtitle1-letter-spacing: 0px;
    --PC-subtitle1-line-height: 148.00000190734863%;
    --PC-subtitle1-font-style: normal;
    --PC-subtitle2-font-family: 'Manrope', Helvetica;
    --PC-subtitle2-font-weight: 700;
    --PC-subtitle2-font-size: 20px;
    --PC-subtitle2-letter-spacing: 0px;
    --PC-subtitle2-line-height: 129.99999523162842%;
    --PC-subtitle2-font-style: normal;
    --PC-paragraph0-font-family: 'Manrope', Helvetica;
    --PC-paragraph0-font-weight: 400;
    --PC-paragraph0-font-size: 18px;
    --PC-paragraph0-letter-spacing: 0px;
    --PC-paragraph0-line-height: 150%;
    --PC-paragraph0-font-style: normal;
    --PC-paragraph1-font-family: 'Manrope', Helvetica;
    --PC-paragraph1-font-weight: 400;
    --PC-paragraph1-font-size: 16px;
    --PC-paragraph1-letter-spacing: 0px;
    --PC-paragraph1-line-height: 148.00000190734863%;
    --PC-paragraph1-font-style: normal;
    --PC-paragraph2-font-family: 'Manrope', Helvetica;
    --PC-paragraph2-font-weight: 400;
    --PC-paragraph2-font-size: 14px;
    --PC-paragraph2-letter-spacing: 0px;
    --PC-paragraph2-line-height: 139.9999976158142%;
    --PC-paragraph2-font-style: normal;
    --PC-paragraph3-font-family: 'Manrope', Helvetica;
    --PC-paragraph3-font-weight: 300;
    --PC-paragraph3-font-size: 12px;
    --PC-paragraph3-letter-spacing: 0px;
    --PC-paragraph3-line-height: 139.9999976158142%;
    --PC-paragraph3-font-style: normal;
    --PC-caption1-font-family: 'Manrope', Helvetica;
    --PC-caption1-font-weight: 700;
    --PC-caption1-font-size: 8px;
    --PC-caption1-letter-spacing: 0px;
    --PC-caption1-line-height: 120.00000476837158%;
    --PC-caption1-font-style: normal;
    --MO-h1-font-family: 'Manrope', Helvetica;
    --MO-h1-font-weight: 700;
    --MO-h1-font-size: 28px;
    --MO-h1-letter-spacing: 0px;
    --MO-h1-line-height: 129.99999523162842%;
    --MO-h1-font-style: normal;
    --MO-h2-font-family: 'Manrope', Helvetica;
    --MO-h2-font-weight: 700;
    --MO-h2-font-size: 24px;
    --MO-h2-letter-spacing: -0.48px;
    --MO-h2-line-height: 120.00000476837158%;
    --MO-h2-font-style: normal;
    --MO-h3-font-family: 'Manrope', Helvetica;
    --MO-h3-font-weight: 700;
    --MO-h3-font-size: 22px;
    --MO-h3-letter-spacing: -0.44px;
    --MO-h3-line-height: 148.00000190734863%;
    --MO-h3-font-style: normal;
    --MO-h4-font-family: 'Manrope', Helvetica;
    --MO-h4-font-weight: 700;
    --MO-h4-font-size: 13px;
    --MO-h4-letter-spacing: -0.26px;
    --MO-h4-line-height: 148.00000190734863%;
    --MO-h4-font-style: normal;
    --MO-subtitle1-font-family: 'Manrope', Helvetica;
    --MO-subtitle1-font-weight: 700;
    --MO-subtitle1-font-size: 20px;
    --MO-subtitle1-letter-spacing: -0.4px;
    --MO-subtitle1-line-height: 148.00000190734863%;
    --MO-subtitle1-font-style: normal;
    --MO-subtitle2-font-family: 'Manrope', Helvetica;
    --MO-subtitle2-font-weight: 700;
    --MO-subtitle2-font-size: 17px;
    --MO-subtitle2-letter-spacing: -0.34px;
    --MO-subtitle2-line-height: 139.9999976158142%;
    --MO-subtitle2-font-style: normal;
    --MO-paragraph0-font-family: 'Manrope', Helvetica;
    --MO-paragraph0-font-weight: 400;
    --MO-paragraph0-font-size: 16px;
    --MO-paragraph0-letter-spacing: -0.32px;
    --MO-paragraph0-line-height: 153.99999618530273%;
    --MO-paragraph0-font-style: normal;
    --MO-paragraph1-font-family: 'Manrope', Helvetica;
    --MO-paragraph1-font-weight: 400;
    --MO-paragraph1-font-size: 14px;
    --MO-paragraph1-letter-spacing: -0.28px;
    --MO-paragraph1-line-height: 129.99999523162842%;
    --MO-paragraph1-font-style: normal;
    --MO-paragraph2-font-family: 'Manrope', Helvetica;
    --MO-paragraph2-font-weight: 400;
    --MO-paragraph2-font-size: 13px;
    --MO-paragraph2-letter-spacing: -0.26px;
    --MO-paragraph2-line-height: 129.99999523162842%;
    --MO-paragraph2-font-style: normal;
    --MO-paragraph3-font-family: 'Manrope', Helvetica;
    --MO-paragraph3-font-weight: 200;
    --MO-paragraph3-font-size: 11px;
    --MO-paragraph3-letter-spacing: -0.33px;
    --MO-paragraph3-line-height: 139.9999976158142%;
    --MO-paragraph3-font-style: normal;
}
