.Purchase {
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
    margin: 30px 0 50px 0;
}
.Purchase .logo-ts2-icon {
    width: 259px;
    position: relative;
    height: 84px;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
}

.johndoeexamplecom {
    align-self: stretch;
    position: relative;
    line-height: 130%;
    margin-bottom: 10px;
    font-weight: bold;
}
.johndoeexamplecom-wrapper {
    width: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.johndoeexamplecom1 {
    align-self: stretch;
    position: relative;
    line-height: 140%;
    /* padding: 0 30px; */
}
.johndoeexamplecom-container {
    width: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 14px;
}

.proceed {
    position: relative;
    line-height: 130%;
}

.frame-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
}
.logo-parent {
    width: 100%;
    max-width: 587px;
    box-shadow: 0px 82px 40px -14px rgba(100, 100, 100, 0.08);
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 30px 30px;
    gap: 10px;
}
.instance-parent {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 30px 20px 50px;
    box-sizing: border-box;
    text-align: center;
    font-size: 36px;
    color: #333;
    font-family: Manrope;
}
/* 반응형 */
@media screen and (max-width: calc(768px)) {
    .johndoeexamplecom {
        font-size: 24px;
    }
    .johndoeexamplecom1 {
        font-size: 13px;
    }
}
